body{
    background-color:  #11101d;

}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

header{
    flex-basis: 20%;
   }
   
main{
   flex-basis: 65%;
   }
@media (max-width:800px){header{
    flex-basis: 22%;
}}
@media (max-width:100px){header{
    flex-basis: 500%;
}
}
/* input do pesquisar */
.search-tct{
    outline: none;
    height: 100%;
    width: 100%;
    display: block;
    border: none;
    padding: 0 54px;
    background-size: 16px;
    background-position: 25px 50%;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: transparent;
}

/* div da barra de pesquisa */
.search-bar {
    border-radius: 8px;
   margin-top: 20PX;
   margin-bottom: 35px;
   height: 60px;
   z-index: 3;
   position: relative; 
   display: flex;
   border:1px solid #6C63FF;
   box-shadow: 0 0 6px #6C63FF;
   display: flex;
   align-items: center;
}

/* botão da lupa */
.right-side-button{
   position: relative;
   right: 10px;
   justify-content: center;
   display: flex;
   align-items: center;
   width: 50px;
   height: 50px;
   background-color: transparent;
   border: none;
}

/* div do publicar */
.status-box{
    margin-bottom: 20px;
}

/* ul do publicar */
.list-publish{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #151728;
    color: white;
    border-radius: 5px;
}

.list-coment{
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;
    background-color: #151728;
    color: white;
    border-radius: 5px;
}

/* li do publicar */
.publish{
    padding: 15px 5px;
    width: 79%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
/*.publish{
    padding: 15px 5px;
    display: flex;
   align-items: flex-start;
}*/

/* foto de perfil */
.status-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 100px;    
}

.ftPerfil{
    border-radius: 50%;
    width: 50px;
}
/* escreva ou suba uma foto */
.status-textarea{
    width: 80%;
    outline: none;
    flex-grow: 1;
    background-color: transparent;
    border: transparent;
    resize: none;
    margin-top: 5px;
    margin-right: 5px;
    color: white;
    padding: 10px;
    font-size: 15px;
    margin-left: 15px;

}

/* botao publicar */
.publish-button{
    border: transparent;
    box-shadow: 0 0 10px #6C63FF;
    border-radius: 7px;
    width: 88px;
    height: 27px;
    background-color: #6C63FF;
    color: white;
    margin-top: 100px;
    margin-right: 10px;
    cursor: pointer;
}
/* botão anexar */
.attach-img{
    width: 30px;
    margin-right: 10px;
    margin-top: 100px;
    cursor: pointer;
}

.teste{
    padding: 15px 5px;
    display: flex;
    align-items: flex-end;
}



input[type='file'] {
    display: none;
}

/* div do post */
.post-feed{
    margin-top: 20px;
}
.container{
    
}
/* ul do post */
.listPost{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #151728;
    color: white;
    border-radius: 5px;
}


/* li do post */
.post{
    padding: 15px 5px;
    display: flex;
    align-items: flex-start;
}



.publication{
    padding: 15px 5px;
    display: flex;
}

/* @ do usuario */
.usuario{
    margin-bottom: 8px;
}

.text-post{
    font-size: 15px;
    margin-bottom: 20px;
}

/* div do post dentro da li */
.post_info{
   margin-left: 15px; 
}
.post_info h2{
    display: inline-block;
}
.post_info span{
    display: inline-block;
    color: rgb(150, 150, 150);
}
.post_info p{
    margin-top: 15px;
}

/* imagem no post */
.album-photo {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    margin-top: 0px;
}
   
.album-photos {
    display: flex;
    margin-top: 0;
    margin-bottom: 20px;
    max-height: 5vh;
}
.album-photo {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
    margin-top: 5px;
}
.album-photos {
    display: flex;
    max-height: 30vh;
    margin-right: 50px;
    justify-content: center;
}

/* favoritos e comentários */
.favorite{
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
}

.coments{
    display: inline-block;
    cursor: pointer;
}
/*comentario*/
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    color: wheat;
    transition: all .5s ease;
}
label #cancel{
    opacity: 0;
    visibility: hidden;
}

.coment{
   display: flex;
   outline: none;
   height: 50px;
   width: 100%;
   color: rgb(255, 255, 255);
   background-color: transparent;  
   position: relative; 
   border: 2px solid #6C63FF;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   align-items: center;
   padding: 8px;
}
.publish-b{
    display: inline-block;
    cursor: pointer;
    border: transparent;
    box-shadow: 0 0 10px #6C63FF;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    height: 50px;
    background-color: #6C63FF;
    color: white;
}

@media (max-width:800px){
    .publish{
        width: 100%;
    }

    .publish-b{
        font-size: 55%;
    }


}

.publish{
    display: inline-block;
}

.post2{
    padding: 15px 5px;
    width: 9%;
    display: inline-block;
    align-items: flex-start;
}


