body{
    background-color:  #11101d;

}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
svg {
     width: 16px;
     flex-shrink: 0;
     margin-right: 8px;
}

.usuario{
    margin-bottom: 8px;
}
/*css do botão*/
.right-side-button{
    background-color: transparent;
    border: none;
    margin-top: 10px;
}
header{
 flex-basis: 20%;
}
.logo_header figcaption{
 display: none;
}
main{
flex-basis: 70%;
}
.listSobre{
    padding-top: 5px;
    background-color: #151728;
    color: white;
    border-radius: 5px;
}
.post{
    padding:20px 5px;
    display: flex;
    align-items: flex-start;
}
.post_info{
   margin-left: 15px; 
}
.post_info h2{
    display: inline-block;
}
.post_info span{
    display: block;
    color: rgb(255, 255, 255);
}
.post_info p{
    margin-top: 15px;
}