<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/menu.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
    <header>

        <div class="sidebar">
             
           <ul>
            <li class="logoContent">
              <a href="#">
                <img id="logo" src="../img/logo.png" alt="logo" width="43px">
              </a>
           </li>
           </ul> 

          <ul class="nav_list">
              <li>
                  <a href="index.html">
                    <img src="../img/menu.png" alt="inicio" width="33px" height="33px">
                      <span class="links_name">Início</span>
                      <span class="toolipe">Início</span>
                  </a>
              </li>

              <li>
                  <a href="#">
                    <img src="../img/lupa (1).png" alt="lupa" width="28px">
                      <span class="links_name">Procurar</span>
                      <span class="toolipe">Procurar</span>
                  </a>
              </li>
              <li>
                  <a href="config.html">
                    <img src="../img/engrenagem.png" alt="configurações" width="28px">
                      <span class="links_name">Configurações</span>
                      <span class="toolipe">Configurações</span>
                  </a>
              </li> 
              <li>
                <a href="perfil.html">
                  <img src="../img/perfil.png" alt="Perfil" width="28px">
                    <span class="links_name">Perfil</span>
                    <span class="toolipe">Perfil</span>
                </a>
            </li> 
          </ul>
          <div class="logoutContent">
            <button class="logout" onclick="logout()">
              <img id="logo" src="../img/sair.png" alt="logo" width="35px">
            </button>
          </div>
        </div>

    </header>
    <main>
    <!--barra de pesquisa-->   
    <div class="search-bar">
      <input class="search-tct" type="text" placeholder="Pesquisar"/>
      <button class="right-side-button" @click="rightSide = !rightSide">
        <img class="lupa" id="lupa" src="../img/lupa.png" alt="lupa" width="20px" height="20px">
      </button>
    </div> 

    <!--Publicar-->

      <div class="status-box">
        <ul class="list-publish">
          <li class="post">
            <img class="ftPerfil" src="../img/karol-perfil.jpg" class="status-img">
            <textarea class="status-textarea" placeholder="Escreva ou suba uma foto." rows="5"></textarea>
            <div class="attachContainer">
              <img class="attach-img" id="imgPhoto" src="../img/adicionar-imagem.png" alt="Selecione uma imagem">
              <input type="file" class="uploadfile" id="flImage" name="uploadfile" accept="image/*">
            </div>
              <button class="publish-button">Publicar</button>
          </li>          
        </ul>

      </div>
      

    <!--Publicação-->
    <section class="feed">
        <div class="post-feed">
          <ul class="listPost">
            <li class="post">
                <img class="ftPerfil" src="../img/thaissa-perfil.jpg" class="status-img" alt="ftPerfil" width="28px">
                
                <div class="post_info">
                        <h2>Thaíssa Candella</h2>
                        <span class="usuario">@thaicandella</span>
                        <div class="text-post">Praticando HTML, CSS e JavaScript! 😍
                          Calculadora onde é possível limpar operações, mudar o tema e copiar o resultado :)
                        </div>
                        <div class="album-photos">
                          <img src="../img/exemplo-att.PNG" class="album-photo"/>
                        </div>
                        <div class="favorite">
                           <img src="../img/estrela.png" alt="favoritar" width="28px">
                        </div>
                        <div class="coments" onclick="comentsContent()">
                          <img src="../img/balao-de-fala.png" id="btn" alt="" width="32px">
                        </div>
                </div>
          </li>
          </ul>
          <div class="comentContent">
            <ul class="list-coment">
                  <div class="post2">
                    <img class="ftPerfil" src="../img/karol-perfil.jpg" class="status-img" alt="ftPerfil" width="28px">
  
                  </div>
                  <div class="publish">
                    <input class="coment" type="tex" placeholder="Adicionar comentário">
                   </div>
                   <button class="publish-b">Publicar</button>
            </ul>
          </div>
        </div>

        <div class="post-feed">
          <ul class="listPost">
            <li class="post">
              <img class="ftPerfil" src="../img/thienne-perfil.jpg" class="status-img" alt="ftPerfil" width="28px">
              
                <div class="post_info">
                    <h2>Thienne Czizeweski</h2>
                    <span class="usuario">@czizethienne</span>
                    <div class="text-post">Hoje finalizei meu curso de soft skills de liderança feminina e comunicação da WoMakers, apenas de mulheres que trabalham na Microsoft.
                    </div>
                    <div class="favorite">
                      <img src="../img/estrela.png" alt="favoritar" width="30px">
                    </div>
                    <div class="coments">
                      <img src="../img/balao-de-fala.png" id="btn" alt="" width="32px">
                    </div>
                </div>
              </li>    
          </ul> 
        </div>
        
        <div class="post-feed">
          <ul class="listPost">
            <li class="post">
                <img class="ftPerfil" src="../img/thaissa-perfil.jpg" class="status-img" alt="ftPerfil" width="28px">
                
                <div class="post_info">
                        <h2>Thaíssa Candella</h2>
                        <span class="usuario">@thaicandella</span>
                        <div class="text-post">Praticando HTML, CSS e JavaScript! 😍
                          Calculadora onde é possível limpar operações, mudar o tema e copiar o resultado :)
                        </div>
                          <div class="album-photos">
                            <img src="../img/exemplo-att.PNG" class="album-photo"/>
                          </div>
                          <div class="favorite">
                            <img src="../img/estrela.png" alt="favoritar" width="30px">
                          </div>
                          <div class="coments">
                            <img src="../img/balao-de-fala.png" id="btn" alt="" width="32px">
                        </div>
                </div>
          </li>
        </div>
          </ul>
        </section>
        </div>
    </main>
    <script src="../script/loading.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.14.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.14.0/firebase-auth-compat.js"></script>
    <script src="../script/firebase-init.js"></script>
    <script src="../script/index.js"></script>
    <script src="../script/auth-guard.js"></script>
</body>
</div>
</html>