<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style-log.css">
</head>
<body>
    <h2>Seja bem-vindo(a) ao PostAct!</h2>
    <div class="container" id="container">
        <!-- Formulário do cadastro -->
        <div class="form-container sign-up-container">
            <form id="form" action="#">
                <h1>Criar uma conta</h1>

                <input type="text" placeholder="Usuário" id="user" class="required" oninput="userValidate()">
                <span class="span-required">O nome de usuário deve ter no mínimo 3 caracteres</span>
                <span class="spans-null">Preencha este campo</span>
                <input type="email" placeholder="Email" id="emailRegister" class="required" oninput="emailValidate()">
                <span class="span-required">Digite um email válido</span>
                <span class="spans-null">Preencha este campo</span>
                <input type="password" placeholder="Senha" id="passwordRegister" class="required" autocomplete="on" oninput="mainPasswordValidate()">
                <span class="span-required">Digite uma senha com no mínimo 8 caracteres</span>
                <span class="spans-null">Preencha este campo</span>
                <input type="button" value="Cadastrar" id="btn" class="btn"  onclick="register()">
            </form>
        </div>

        <!-- Formulário do login -->
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Faça seu login</h1>
                <input type="email" placeholder="Email" class="required" id="emailLogin">
                <input type="password" placeholder="Senha" class="required" id="passwordLogin" autocomplete="on">
                <span class="span-invalid">E-mail ou senha incorretos.</span>
                <a href="recuperar-senha.html">Esqueceu sua senha?</a>
                <input type="button" value="Entrar" id="btn2" class="btn" onclick="login()">                
            </form>
        </div>

        <!-- Painel que sobrepõe os formulários -->
        <div class="overlay-container">
            <div class="overlay">
                <!-- Painel do faça seu login -->
                <div class="overlay-panel overlay-left">
                    <h1 class="title-overlay">Já tem uma conta?</h1>
                    <p>Seja bem vindo de volta! Clique no botão abaixo para logar na sua conta.</p>

                    <button class="ghost" id="signIn">Faça seu login</button>
                </div>

                <!-- Painel do faça seu cadastro -->
                <div class="overlay-panel overlay-right">
                    <h1 class="title-overlay">Ainda não tem uma conta no PostAct?</h1>
                    <p>Clique no botão abaixo para realizar seu cadastro. É fácil e rápido!</p>

                    <button class="ghost" id="signUp">Cadastra-se</button>
                </div>
            </div>
        </div>

    </div>

    <script src="../script/script-log.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.14.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.14.0/firebase-auth-compat.js"></script>

    <script>
        const firebaseConfig = {
        apiKey: "AIzaSyDlB3U8WNF8KTqOE7Ugofpvo1-q1CLXtP4",
        authDomain: "postact-efc3b.firebaseapp.com",
        projectId: "postact-efc3b",
        storageBucket: "postact-efc3b.appspot.com",
        messagingSenderId: "658462391533",
        appId: "1:658462391533:web:7c7fbaf16e6b6d584fe0e4",
        measurementId: "G-0SV7KMTTCY"
        }
        firebase.initializeApp(firebaseConfig)

    </script>

</body>
</html>