<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostAct</title>
    <!-- <link rel="stylesheet" href="../style/style-senha.css"> -->
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Redefinir senha</h1>
                <p>Insira a sua nova senha
                </p>
                <input type="password" placeholder="Senha">
                <input type="button" value="Redifinir" id="btn" class="btn">
            </form>
            <a href="recuperar-senha.html">Voltar</a>

        </div>

    </div>
</body>
</html>